# Dependencies
node_modules

# Build output
.next
out

# VCS
.git
.gitignore

# Env and logs
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Docker files (not needed in context)
Dockerfile
docker-compose.yml

